* {
	outline: 0;
	list-style: none;
}

body {
	background: url(../img/bg.jpg) repeat-x;
}

.fullwight {
	margin-left: auto;
    margin-right: auto;
    max-width: initial;
    width: 100%;
    position: relative;
}

.fullwight img.first_img {
	width: 100%;
}

.seres {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -450px;
}

.fullwight span {
	color: #fff;
	font-size: 32px;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.69);
}

.fullwight .button {
	border-radius: 30px;
}

#hidden-content-2 {
	width: 60%;
}

#hidden-content-3 {
	width: 80%
}

.conteudo {
	background: #fff;
	padding-top: 2em;
}

.search input {
	border: none;
	box-shadow: none;
	background: url(../img/bg_search.jpg) no-repeat bottom left;
	color: #2d3290;
  	font-size: 20px;
  	text-align: center;
}

.search input:focus {
	border: none;
	box-shadow: none;
}

.lupa, .search {
	margin: 0;
	padding: 0;
}


.search input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #2d3290;
  opacity: 1;
  font-size: 20px;
  text-align: center;
}

.search input::-moz-placeholder { /* Firefox 19+ */
  color: #2d3290;
  opacity: 1;
  font-size: 20px;
  text-align: center;
}

.search input:-ms-input-placeholder { /* IE 10+ */
  color: #2d3290;
  opacity: 1;
  font-size: 20px;
  text-align: center;
}
.search input:-moz-placeholder { /* Firefox 18- */
  color: #2d3290;
  opacity: 1;
  font-size: 20px;
  text-align: center;
}

.filtro {
	border-bottom: 1px solid #2e3191;
	margin-bottom: 20px;
}

.beneficios h2 {
	color: #2e3191;
	font-size: 2em;
}

.beneficios p {
	color: #555555;
}

.resultados h3 {
	font-size: 1.35em;
	font-weight: bold;
}

.resultados p {
	color: #555555;
}

.resultados p span {
	font-weight: bold;
}

.cta_preso {
	color: #2e3191;
	font-weight: bold;
	padding: 5px 10px;
}

.cta_preso:hover {
	background: #2e3191;
	color: #fff;
	border-radius: 30px;
}

.resultados li .content_preso {
	border-bottom: 1px solid #9c9b9b;
	padding: 1em 0;
}